.v-header {
    display: flex;
    padding: 20px 70px 0px 32px;
    width: 100%;
    box-sizing: border-box;
  }
  .v-header-logo-menu {
    display: flex;
    gap: 28px;
    align-items: center;
  }
  .v-hiding-text {
    display: none;
    color: rgba(25, 32, 44, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 20.08px;
  }
  .v-header-menu {
    padding-bottom: 3px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .v-header-logo {
    display: flex;
    padding-top: 1.5px;
  }
  .v-header-menu span {
    width: 20px;
    height: 1px;
    box-sizing: border-box;
    background-color:rgba(31, 32, 34, 1) ;
    border: 1.5px solid rgba(31, 32, 34, 1);
  }
  .v-header-sidebar figure{
    margin: 0;
  }
  .v-header-search {
    padding-left: 60.09px;
    display: flex;
    align-items: center;
  }
  .v-header-search img {
    width:18.21px ;
    height: 18.21px;
    padding: 0;
    margin: 0;
  }
  .v-header-search input {
    box-sizing: border-box;
    width:830px ;
    height: 44px;
    color: rgba(48, 56, 76, 1);
    background-color: #EBEBEB;
    border-radius: 22px;
    padding: 13px 17.79px 14.79px 23px;
    margin: 0;
    border: 0px;
    opacity: 30%;
    font-size: 16px;
  }
  .v-header-input-icon {
    position: relative;
    left: -36.5px;
  }
  .v-header-sidebar-icons {
    display: flex;
    padding-bottom: 1px;
  }
  .v-header-sidebar-icons img:nth-child(-n+2){
    padding-right: 50px;
  }
  .v-header-sidebar {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .v-icon-notification {
    background-color: rgba(255, 0, 0, 1);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: relative;
    left: -12.5px;
    top: -7.5px;
    border: 1px solid rgba(255, 255, 255, 1);
  }
  .v-icon-notification p {
    margin: 0;
    color: rgba(255, 255, 255, 1);
    padding: 1px 4px 2px 6px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
  .v-header-sidebar-user {
    padding-left: 32px;
    padding-top: 2px;
  }
  .v-header-sidebar-user img {
    width: 40px ;
    height: 40px ;
    border-radius: 50px;
    border: 0;
  }

  @media screen and (max-width:480px) {
    .v-header {
      padding: 10px 16px;
      box-sizing: border-box;
    }
   
    .v-header-search input,
    .v-header-sidebar-icons,
    .v-header-sidebar-user,
    .v-header-sidebar   {
      display: none;
    }
    .v-header-logo img {
      margin-right: 0px;
    }
    .v-header-menu {
      position: absolute;
      left: 92%;
      gap: 2px;
    }
    .v-header-menu span {
      border-radius: 50%;
      width: 5px;
      height: 5px;
    }
    .v-header-search {
      padding-left: 0px;
      margin-left: auto;
      padding-right: 18px;
    }
    }
    @media (min-width:481px) and (max-width:768px) {
      .v-header {
        padding: 20px 20px;
        box-sizing: border-box;
      }
     
      .v-header-search input,
      .v-header-sidebar-icons,
      .v-header-sidebar-user,
      .v-header-sidebar   {
        display: none;
      }
      .v-header-logo img {
        margin-right: 0px;
      }
      .v-header-menu {
        position: absolute;
        left: 92%;
        gap: 2px;
      }
      .v-header-menu span {
        border-radius: 50%;
        width: 5px;
        height: 5px;
      }
      .v-header-search {
        padding-left: 0px;
        margin-left: auto;
        padding-right: 18px;
      }
    }