.v-content {
    max-width: 1363px;
    display: flex;
    flex-direction: column;
}
.v-content-video {
    padding-bottom: 16px;
    border-bottom: 1px rgba(216, 216, 216, 0.5) solid;
}
.v-content-video_figure .v-cover-image {
    width: 1363px ;
    height: 700px ;
    background-image: url("../images/video-cover.png");
    border-radius: 14px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
.v-content-video_figure h3:last-of-type{
    color: rgba(25, 38, 70, 1);
    font-size: 36px;
    font-weight: 700;
    line-height: 45.18px;
    padding-top: 21px;
}
.v-hidden-icon, .v-hidden-progress-time {
    display: none;
}
.v-clicking-content p {
    color: rgba(194, 194, 194, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 25.1px;
    padding-top: 15px;
}
.v-content-channel {
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
}
.v-content-channel-cover {
    display: flex;
}
.v-content-channel-cover figcaption {
    padding-left:14px ;
    max-width: 820px;
}
.v-content-channel-cover img {
    border-radius: 50%;
    height: 80px;
    object-fit: cover;
    width: 80px;
    margin-left: -6px;
}
.v-content-channel-cover h3 {
    color: rgba(25, 32, 44, 1);
    font-size: 26px;
    font-weight: 700;
    line-height: 32.63px;
    margin-top: 2px;
}
.v-content-channel-cover p:first-of-type {
    color: rgba(194, 194, 194, 1);
    font-size: 13px;
    font-weight: 400;
    line-height: 16.32px;
    padding-top: 3px;
}
.v-content-channel-cover p:last-of-type {
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding-top: 14px;
}
.v-content-channel-cover h4 {
    color: rgba(194, 194, 194, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 25.1px;
    margin-top: 15px;
}
.v-sub-button {
    padding-top: 6px;
    padding-left: 5px;
    background-color: red;
    border: 0;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    line-height: 20.08px;
    width: 154px;
}
.v-content-video_figure .v-clicking-content {
    display: flex;
    justify-content: space-between;
}
.v-clicking-content-area {
    display: flex;
    gap: 10px;
}
.v-clicking-area {
    background-color: rgba(235, 235, 235, 0.3);
    width: 100px;
    height: 40px;
    gap: 8px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}
.v-clicking-content img {
    width:14px ;
    height:13px;
    padding-top: 2.5px;
}
.v-clicking-content-area:nth-child(2) img{
    padding-left: 3px;
    margin-top: 2px;
}
.v-clicking-dots {
    display: flex;
    gap: 5px;
    margin-top: 22px;
    margin-left: 32px;
}
.v-clicking-dots span {
    border-radius: 50%;
    height: 6px;
    width: 6px;
    background-color:rgba(0, 0, 0, 1) ;
}
.v-cover-placeholder {
    padding-left: 33px;
    padding-right: 33px;
    width: 100%;
    padding-bottom: 32px;
    opacity: 100%;
    display: flex;
    flex-direction: column;
}
.v-progress-timing {
    display: flex;
    justify-content: space-between;
    padding-bottom: 17px;
    color: rgba(255, 255, 255, 1);
}
.v-progress-time {
    font-size: 22px;
    line-height: 27.61px;
    margin: 0;
}
.v-progress-full{
    background-color: rgba(255, 255, 255, 0.2);
    width:100%;
    height: 9px;
    border-radius: 5px;
    border: 0;
}
.v-progress-part{
    background-color:rgba(255, 0, 0, 1);
    width:280px;
    height: 9px;
    border-radius: 5px;
}
.v-progress-icons {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.v-progress-icons-left, .v-progress-icons-right {
    padding-top: 21px;
    display: flex;
    align-items: center;
}
.v-progress-full-volume{
    background-color: rgba(255, 255, 255, 0.2);
    width:86px;
    height: 8px;
    border-radius: 4px;
    padding-left: 6px;
    padding-right: 6px;
}
.v-progress-part-volume{
    background-color:rgba(255, 255, 255, 1);
    width:36px;
    height: 8px;
    border-radius: 4px;
}
.v-icon-pause {
    padding-right: 40px;
}
.v-icon-vol {
    padding-right:20px ;
}
.v-icon-next {
    padding-right:40px ;
    padding-top: 5px;
}




@media screen and (max-width:768px) {
    .v-content-video_figure .v-cover-image {
        width: 100% ;
        height: 180px ;
        border-radius: 0px;
        margin-top: 10px;
    }
    .v-cover-placeholder {
        padding-left: 6px;
        padding-right: 6px;
        box-sizing: border-box;
        padding-bottom: 9px;
    }
    .v-progress-timing, .v-progress-icons-right, .v-progress-full, .v-icon-next {
        display: none;
    }
    .v-progress-icons {
        background-color: rgba(61, 61, 61, 0.6);
        border-radius: 10px;
        height: 30px;
        padding-left: 18px;
        padding-right: 18px;
        align-items: center;
        margin: auto;
    }
    .v-progress-icons-left {
        padding-top: 0px;
        display: flex;
    }
    .v-progress-icons-left img {
        width: 12px;
        height: 12px;
    }
    .v-progress-icons-left figure:nth-of-type(n+2) {
        position: relative;
        left: 87%;
    }
    .v-progress-full-volume  {
        width: 156px;
        background-color: rgba(255, 255, 255, 0.2);
        position: relative;
        left: -8%;
        margin: 0;
        height: 5px;
    }
    .v-progress-part-volume {
        width: 58.85px;
        background-color: red;
        position: relative;
        height: 5px;
        margin: 0;
    }
    .v-hidden-progress-time {
        display: flex;
        color:rgba(255, 255, 255, 1);
        font-size: 10px;
        line-height: 12.55px;
        position: relative;
        top: 2px;
        left: -21.5px;
    }
    .v-icon-pause {
        margin-top: 5px;
        padding-right: 20px;
    }
    .v-icon-vol {
        padding-right:0px ;
    }
    .v-icon-next {
        padding-right:0px ;
        padding-top: 5px;
    }
    .v-content-video_figure h3:last-of-type {
        font-size: 20px;
        font-weight: 700;
        line-height: 25.1px;
        padding-top: 13px;
        width: 210px;
    }
    .v-content-video_figure figcaption {
        padding-left: 16px;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
    }
    .v-hidden-icon {
        display: flex;
        padding-bottom: 4px;
    }
    .v-clicking-content p{
        color: rgba(194, 194, 194, 1);
        font-size: 12px;
        font-weight: 400;
        line-height: 15.06px;
        padding-top: 5px;
    }
    .v-clicking-content-area {
        margin-top:15px;
        display: flex;
    }
    .v-clicking-area {
        background-color: rgba(235, 235, 235, 0.3);
        width: 100px;
        height: 40px;
        gap: 0px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5px;
        padding-left: 18px;
        margin-bottom: 4px;
    }
    .v-clicking-area figcaption{
        padding-left: 9px;
        padding-top: 2px;
        margin-bottom: 4px;
    }
    .v-content-video_figure .v-clicking-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 16px;
    }
    .v-content-video {
        padding-bottom: 25px;
    }
    .v-clicking-content-area:nth-child(2) img{
        padding-left: 3px;
        margin-top: -4px;
    }
    .v-clicking-area:nth-child(3) {
        padding-left: 13.5px;
        margin-top: 0.5px;
    }
    .v-content-channel {
        padding-top: 15px;
        padding-left: 16px;
        justify-content: flex-start;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(216, 216, 216, 0.5);
    }
    .v-content-channel-cover img {
        height: 50px;
        width: 50px;
        margin-left: 0px;
        margin-top: 5px;
    }
    .v-content-channel-cover h3 {
        font-size: 16px;
        line-height: 20.08px;
        margin-top: 2px;
    }
    .v-content-channel-cover p:last-of-type,
    .v-content-channel-cover h4 {
        display: none;
    }
    .v-sub-button {
        padding-top: 2px;
        padding-left: 53px;
        background-color: white;
        border: 0;
        border-radius: 0px;
        color: red;
        font-size: 16px;
        height: 100%;
        line-height: 20.08px;
        width: 73px;
        margin-top: 3px;
    }
    .v-content-channel-cover figcaption {
        padding-left: 10px;
        margin-top: 9px;
    }
    .v-content-channel-cover p:first-of-type {
        content: "hello";
        display: none;
    }
 }
  @media  (min-width:400px) and (max-width:768px){
    .v-content-video_figure .v-cover-image {
        width: 100% ;
        height: 360px ;
        border-radius: 0px;
        margin-top: 10px;
    }
    .v-content-video_figure h3:last-of-type {
        font-size: 24px;
        line-height: 28px;
        width: 100%;
    }
    .v-clicking-content p {
        font-size: 16px;
        line-height: 20px;
    }
    .v-content-channel-cover h3 {
        font-size: 24px;
        line-height: 28px;
    }
    .v-progress-icons-left {
        width: 350px;
    }
    .v-hidden-progress-time {
        font-size: 14px;
        padding-bottom: 3px;
    }
    .v-progress-full-volume {
        width: 240px;
        left: -2%;
        padding-left: 0;
    }
    .v-hidden-progress-time:last-of-type{
        padding-left: 25px;
    }
}